/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --icon-color: #6b7280; /* Default icon color */
  --icon-hover-color: #ffffff; /* Icon color on hover */
  --icon-hover-stroke-color: #8a2be2; /* Icon stroke color on hover */
}

.icon {
  @apply text-gray-500; /* Using Tailwind's color utility for default state */
  transition: color 0.2s; /* Smooth transition for color change */
}

.h1 {
  @apply text-white text-[24px] mb-8; /* Using Tailwind's text and font utilities */
}

.icon:hover {
  color: var(--icon-hover-color); /* Change color on hover */
}

.link-hover:hover .icon {
  color: var(--icon-hover-color); /* Change color on hover */
}
